<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio</title>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/images.css') }}" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <link rel = "icon" href = "/static/images/superhero.png" type = "image/x-icon">
    </head>
    <body>
        <header>
            {% include '/base/navbar.html' %}
        </header>
        <section>
            <img src="{{ url_for('static', filename='images/mountain.png') }}" id="mountain">
            <h2 id="text">Portfolio</h2>
            {% for users in users_data %}
            <h6>{{ users.email }}</h6>
            {% endfor %}
        </section>

        <div class="container" style="margin-top: 7em;">
            <div class="row">
                <h5>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tincidunt semper justo, nec viverra velit ornare a. Donec a velit nec ante fermentum 
                    pellentesque eu non velit. Vivamus in dolor egestas, rutrum sapien quis, auctor augue. Sed rhoncus leo nec metus vestibulum, ac hendrerit dolor 
                    facilisis. Morbi lacinia ligula ante, sit amet laoreet nibh consectetur id. Praesent efficitur malesuada purus id interdum. Integer at sollicitudin 
                    leo. Quisque ut viverra orci, euismod dignissim mauris. Fusce in feugiat enim, sed placerat nulla. Sed sed lectus a orci mollis semper. Sed porta 
                    elit eget risus mattis, id commodo purus molestie. Morbi pulvinar purus a dictum tempor. Fusce consectetur, massa a auctor aliquam, metus justo 
                    pellentesque turpis, a consequat ligula justo non metus. Aenean lacus justo, finibus eget viverra eu, tincidunt ut erat. Nullam vehicula tellus 
                    a efficitur pretium. Suspendisse laoreet diam id est pulvinar, ut pellentesque libero luctus.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tincidunt semper justo, nec viverra velit ornare a. Donec a velit nec ante fermentum 
                    pellentesque eu non velit. Vivamus in dolor egestas, rutrum sapien quis, auctor augue. Sed rhoncus leo nec metus vestibulum, ac hendrerit dolor 
                    facilisis. Morbi lacinia ligula ante, sit amet laoreet nibh consectetur id. Praesent efficitur malesuada purus id interdum. Integer at sollicitudin 
                    leo. Quisque ut viverra orci, euismod dignissim mauris. Fusce in feugiat enim, sed placerat nulla. Sed sed lectus a orci mollis semper. Sed porta 
                    elit eget risus mattis, id commodo purus molestie. Morbi pulvinar purus a dictum tempor. Fusce consectetur, massa a auctor aliquam, metus justo 
                    pellentesque turpis, a consequat ligula justo non metus. Aenean lacus justo, finibus eget viverra eu, tincidunt ut erat. Nullam vehicula tellus 
                    a efficitur pretium. Suspendisse laoreet diam id est pulvinar, ut pellentesque libero luctus.
                </h5>
            </div>
        </div>
        <script>
            let mountain = document.getElementById('mount');
            let text = document.getElementById('text');
            let header = document.querySelector('header')


            window.addEventListener('scroll', function(){
                let value = window.scrollY;
                text.style.marginTop = value * 4 + 'px';
                header.style.top = value * 0.5 + 'px'; 
            })
        </script>

    </body>
</html>

