{% extends "/base/base-layout.html" %}

{% block default_head %}
<style>
.container {
  margin-top: 10em;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

</style>


  <div class="container">

<div class="text-center">
<main class="form-signin w-100 m-auto">
<form action="{{ url_for('accounts.do_login') }}" method="POST">
  {{ form.hidden_tag() }}
  <img class="mb-4" src="{{ url_for('static', filename='images/r202.png') }}" alt="" width="75">
  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

  <div class="form-floating">
    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
</form>

{% if request.args | length > 0 %}
  <div  class="alert alert-danger" role="alert" style="margin-top: 10px;">
    <ul>
    {% for k, v in request.args.items() %}
      <li><b>{{ k }}: </b> {{ v }}</li>
    {% endfor %}
    </ul>
  </div>
{% endif %}

</main>
</div>

  </div>

{% endblock %}
