.psu-deep-blue {
    color: rgb(0, 60, 113);
}

.psu-deep-blue.button,
.psu-deep-blue.buttons .button {
    background-color: rgb(0, 60, 113) !important;
    color: #fff !important;
    text-shadow: none;
    background-image: none;
}

.psu-deep-blue.button:hover,
.psu-deep-blue.buttons .button:hover {
    background-color: rgb(2, 45, 78) !important;
    color: #fff !important
}