*
{
    scroll-behavior: smooth;
}

body 
{
    min-height: 100vh;
    background: linear-gradient(#2b1055,#7597de);
}

/* header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;

} */

header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 1px;
}

/* header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li 
{
    list-style: none;
    margin-left: 1em;
}

header ul li a
{
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    padding: 0.5em 0.5em;
    border-radius: 1em;
}

header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
} */

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 10em;
    background: linear-gradient(to top,#1c0522,transparent);
    z-index: 1000;
}

section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#mountain
{
    z-index: 10;
}
#text
{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 5.5em;
    font-weight: 600;
    transform: translateY(-1.5em);
    z-index: 9;
}
