{% extends "/base/default-dashboard.html" %}

{% block default_head %}

  <style>

  #menu .item {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #111827;
    transition: 0.5s;
    overflow: hidden;

  }

  #menu .item.active {
    width: 90px;
  }

  #menu .item ul {
    position: absolute;
    top: 10px;
    left: -15px;
    width: 100%;
  }

  #menu .item ul li {
    position: relative;
    width: 200%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  #menu .item ul li:hover,
  #menu .item ul li.hovered {
    background: #E5E7EB;
  }

  #menu .item ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
  }

  #menu .item ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
  }

  #menu .item ul li:hover a,
  #menu .item ul li.hovered a {
    color: #111827;
  }

  #menu .item ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 55px;
    text-align: center;
  }

  #menu .item ul li a .icon i {
    font-size: 1.5em;
  }

  #menu .item ul li a .title {
    position: relative;
    display: block;
    padding: 0 13px;
    height: 60px;
    line-height: 60px;
  }

  #menu .item ul li:hover a::before,
  #menu .item ul li.hovered a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px #E5E7EB;
    pointer-events: none;
  }

  #menu .item ul li:hover a::after,
  #menu .item ul li.hovered a::after {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px #E5E7EB;
    pointer-events: none;
  }

  #interface .main {
    width: calc(100% - 300px);
    left: 300px;
    position: absolute;
    min-height: 100vh;
    transition: 0.5s;
  }

  #interface .main.active {
    width: calc(100% - 90px);
    left: 90px;
    
  }

  #interface .topbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 10px;
    border-bottom: 4px solid #594ef7;
  }

  #interface .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;

  }

  #interface .user {
    position: relative;;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }

  #interface .user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  </style>

{% endblock %}

{% block additional_js %}

  <script>

    let toggle =document.querySelector('.toggle');
    let item =document.querySelector('.item');
    let main =document.querySelector('.main');

    toggle.onclick = function(){
      item.classList.toggle('active');
      main.classList.toggle('active');

    }


    let list = document.querySelectorAll('.item li');
    function activeLink(){
      list.forEach((item) => 
      item.classList.remove('hovered'));
      this.classList.add('hovered')
    }
    list.forEach((item) => 
    item.addEventListener('mouseover',activeLink));
  </script>

{% endblock %}



{% block content_dashboard %}

<section id="menu">
  <div class="item">
    <ul>
      <li>
        <a>
          <span class="icon"><i class="bi bi-archive"></i></span>
          <span class="title" style="font-weight: 500;">folio</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('accounts.dashboard')}}">
          <span class="icon"><i class="bi bi-pie-chart-fill"></i></span>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('classes.index')}}">
          <span class="icon"><i class="bi bi-archive-fill"></i></span>
          <span class="title">Class</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('folios.create')}}">
          <span class="icon"><i class="bi bi-file-earmark-plus-fill"></i></span>
          <span class="title">Folio</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('accounts.logout')}}">
          <span class="icon"><i class="bi bi-caret-left-square-fill"></i></span>
          <span class="title">Log out</span>
        </a>
      </li>
    </ul>
  </div>
</section>

<section id="interface">
  <div class="main">
    <div class="topbar">
      <div class="toggle">
        <i class="bi bi-list"></i>
      </div>
      <div class="user">
        <i class="bi bi-airplane-engines"></i>
      </div>
    </div>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </div>
</section>


  
{% endblock %}









