{% extends "/dashboard/index.html" %}

{% block content %}
  <style>
    
  .button-submit {
    font-size: 1em;
    padding: 0.7em;
    margin: 0.7em;
    width: 7em;
    background: #111827;
    cursor: pointer;
    text-align: center;
    border-radius: 50px;
    box-shadow: 5px 10px 10px -1px rgba(12, 69, 112, 0.486),
                -5px -10px 10px -1px rgb(255, 255, 255, 0.70);
    text-decoration: none;
    color: #9faeff;
    font-weight: 700;
  }

  </style>

<div class="container" style="width: 40em; margin-top: 2em;">
  <div class="row">
    <main class="card">
      <div class="card-body">
        <div style="margin-top: 2em;">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Add folio</h1>
          </div>

          <form method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3 row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-10">
                {{ form.name(class_="form-control") }}
              </div>
            </div>
            <div class="mb-3 row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                {{ form.email(class_="form-control") }}
              </div>
            </div>
            <div class="mb-3 row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Biography</label>
              <div class="col-sm-10">
                {{ form.biography(class_="form-control") }}
              </div>
            </div>
            <div class="mb-3 row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Education</label>
              <div class="col-sm-10">
                {{ form.education(class_="form-control") }}
              </div>
            </div>
            <div class="mb-3 row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Skills</label>
              <div class="col-sm-10">
                {{ form.skills(class_="form-control") }}
              </div>
            </div>
            <button type="submit" class="button-submit">Submit</button>
          </form>
          
        </div>
      </div>
    </main>
  </div>
</div>
  
{% endblock %}



