{% extends "/base/base-layout.html" %}

{% block default_head %}

  <header>
    {% include '/base/navbar.html' %}
  </header>

  <style>
  
  </style>

{% endblock %}
    
{% block body %}

<div class="container" style="width: 40em; margin-top: 2em;">
  <div class="row">
    <main class="card">
      <div class="card-body">
        <div style="margin-top: 2em;">
          <h3 class="card-title" style="color: rgb(39, 190, 190);"># {{ folio.id }}</h3>
          <ul>
            <li>{{ folio.name }}</li>
            <li>{{ folio.email }}</li>
            <li>{{ folio.biography }}</li>
            <li>{{ folio.education }}</li>
            <li>{{ folio.skills }}</li>
          </ul>
        </div>
      </div>
    </main>
  </div>
</div>
 

  


{% endblock %}
