{% extends "/dashboard/index.html" %}

{% block content %}

<style>

.button {
  font-size: 1em;
  padding: 0.7em;
  margin: 0.7em;
  width: 7em;
  background: #111827;
  cursor: pointer;
  text-align: center;
  border-radius: 50px;
  box-shadow: 5px 10px 10px -1px rgba(12, 69, 112, 0.486),
              -5px -10px 10px -1px rgb(255, 255, 255, 0.70);
}

.button .button-view {
  text-decoration: none;
  color: #23ca37;
  font-weight: 700;
}

.button .button-edit {
  text-decoration: none;
  color: #e6e65d;
  font-weight: 700;
}

.button .button-delete{
  text-decoration: none;
  color: rgb(222, 42, 22);
  font-weight: 700;
}

</style>

{% for folio in folio_data %}

<div class="container" style="width: 40em; margin-top: 2em;">
  <div class="row">
    <main class="card">
      <div class="card-body">
        <div style="margin-top: 2em;">
          <h3 class="card-title" style="color: rgb(39, 190, 190);"># {{ folio.id }}</h3>
          <h5>Name: <h6>{{ folio.name }}</h6></h5>
          <h5>Email: <h6>{{ folio.email }}</h6></h5>
          <h5>Biography: <h6>{{ folio.biography }}</h6></h5>
          <h5>Education: <h6>{{ folio.education }}</h6></h5>
          <h5>Skills: <h6>{{ folio.skills }}</h6></h5>
          <td>
            <div class="row" style="margin: 3em;">
              <div class="col">
                <div class="button">
                  <a href="{{ url_for('folios.view', folio_id=folio.id) }}" class="button-view">View</a>
                </div>
              </div>
              <div class="col">
                <div class="button">
                  <a href="{{ url_for('folios.update', folio_id=folio.id) }}" class="button-edit">Edit</a>
                </div>
              </div>
              <div class="col">
                <div class="button">
                  <a href="{{ url_for('folios.delete', folio_id=folio.id) }}" class="button-delete">Delete</a>
                </div>
              </div>
            </div>
          </td>
        </div>
      </div>
    </main>
  </div>
</div>

{% endfor %}

{% endblock %}